body {
  margin: 0;
  padding: 0;
  background-color: #000000;
  color: #e0e0e0;
  font-family: Arial, sans-serif;
}

a {
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #00bfff;
}